#container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 960px;
    height: 960px;
    border: solid 2px;
    
}

div > div {
  
}




